import React from "react";
import { usePageInstructions } from "../../hooks/core/usePageInstructions";
import { usePageActions } from "../../hooks/core/usePageActions";
import { {{CHILD_NAME}}Page } from "../../pages/{{PARENT_ID}}/{{CHILD_NAME}}Page";

export const {{CHILD_NAME}}PageWrapper: React.FC = () => {
  usePageInstructions("{{CHILD_ID}}");
  usePageActions("{{CHILD_ID}}");

  return <{{CHILD_NAME}}Page />;
};